div.layui-side.layui-bg-black#admin-menu
    div.layui-side-scroll
        ul.layui-nav.layui-nav-tree
            li.layui-nav-item.layui-nav-itemed
                a(href="javascript:;") 商品管理
                dl.layui-nav-child
                    dd
                        a.data-tab(href="./goods/add" data-title="商品列表") 商品列表
                    dd
                        a.data-tab(href="./goods/add" data-title="选项2") 选项2
                    dd
                        a.data-tab(href="./goods/add" data-title="选项3") 选项3
            li.layui-nav-item
                a(href="javascript:;") 解决方案
                dl.layui-nav-child
                    dd
                        a(href="javascript:;") 移动模块
                    dd
                        a(href="javascript:;") 后台模版
                    dd
                        a(href="javascript:;") 电商平台
            li.layui-nav-item
                a(href="javascript:;") 产品
            li.layui-nav-item
                a(href="javascript:;") 大数据
