* {
  maring: 0;
  padding: 0;
  border: 0 none;
}
body {
  font-size: 14px;
  background: #ccc;
  color: #f00;
}
body .header {
  width: 100%;
  height: 100px;
}
body .footer {
  width: 100%;
  height: 40px;
}
