doctype html
html
    head
        title=data.title || '管理系统'
        link(rel='icon', type='image/x-icon', href='/bin/favicon.ico')
        link(rel='stylesheet', href='/bin/layui/css/layui.css')
        link(rel='stylesheet', href='/css/common.css')
    body.layui-layout-body
